 :root {
    --primary-color: #1B1B1B;
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family:'Montserrat', sans-serif;
    --secondary-title-color: #F65282;
}

body {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 43px 140px;
  background-color: #202020;;
}

.navigation {
  margin: 0;
  padding: 0;
}

.navigation a {
  text-decoration: none;
  color:#FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--main-font-family);
  transition: all 100ms ease-in-out;
}

.navigation a:hover {
  font-weight: bold;
  font-size: 20px;
}

.navigation li {
  display: inline;
  list-style: none;
  padding: 10px;
}

.navigation li.active a {
  color: var(--secondary-title-color)
}

header {
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero {
    padding: 280px 0;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.hero h2 {
    font-size: 24px;
    font-family: var(--main-font-family);
    font-weight: bold;
    text-transform: uppercase;
}

.hero h1 {
    font-family: var(--main-font-family);
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 0.1em;
}

.hero p {
    font-family: var(--main-font-family);
    font-size: 18px;
    font-weight:  normal;
    line-height: 30px;
}

.btn-branding {
    padding: 18px 30px;
    background: #FFFFFF;
    border-radius: 50px;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #272142;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 17px;
}

.btn-secondary {
  padding: 18px 30px;
  background: #FFFFFF;
  border-radius: 50px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #272142;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 17px;
  margin-top: 65px;
}

.container {
    margin-top: 110px;
    margin-bottom: 110px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 38px 140px;
  background-color: #282323;
}

.copyright {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.about-section {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  font-family: var(--main-font-family);
}

.about-portrait {
  background-image: url(/img/portrait.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-title {
  text-transform: uppercase;
  color: var(--secondary-title-color);
  letter-spacing: 0.1em;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.about-section-content {
  margin: 51px 0px 92px 40px
}

.about-section-content h2{
  font-size: 64px;
  line-height: 75px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about-section-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.about-section-links a {
  text-decoration: none;
  color: #FFFFFF;
}

.main-title {
  font-family: var(--main-font-family);
  text-align: center;
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.gallery-title {
  margin-top: 150px;
  margin-bottom: 166px;
}

.contact {
  text-align: center;
  font-family: var(--main-font-family);
  margin-top: 142px;
  margin-bottom: 248px;
}

.contact h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #F65282;
}

.contact p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.contact a {
  text-decoration: none;
  color: #FFFFFF;
}

@media (min-width: 1600px) {
  .btn-branding {
    padding: 28px 40px;
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .hero p {
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
    nav {
      padding: 33px 80px;
    }

    footer {
      padding: 30px 90px;
    }

    footer img {
      width: 80px;
      height: auto;
    }

    .copyright {
      font-size: 12px;
    }
    .hero h1 {
      font-size: 44px;
      line-height: 2;
    }
  
    .hero h2 {
      font-size: 16px;
    }

    .hero p {
        font-size: 12px;
        line-height: 20px;
    }
    
    .hero {
      padding: 160px 20px;
      width: 100%;
      margin: 0px;
    }

    .container {
        margin-top: 50px;
        margin-bottom: 50px;
    }
  }

  @media (max-width: 576px) {
    nav img {
      width: 100px;
      height: auto;
    }

    nav {
      padding: 23px 30px;
    }

    .navigation a {
      font-size: 14px;
    }

    .navigation li {
      padding: 5px;
    }

    footer {
      padding: 10px 20px;
    }

    footer img {
      width: 50px;
      height: auto;
    }

    footer a {
      font-size: small;
    }

    .hero {
        padding: 100px 15px 100px 15px;
      }
  
    .hero h1 {
        font-size: 24px;
        margin:0;
      }
    
      .hero h2 {
        font-size: 12px;
        margin: 0;
      }
  
      .hero p {
          font-size: 10px;
          line-height: 15px;
      }

      .btn-branding {
        padding: 10px 20px;
        font-size: 10px;
      }

      .container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
  }

  @media (max-width: 375px) {
    nav img {
      width: 70px;
      height: auto;
    }

    nav {
      padding: 13px 20px;
    }

    footer {
      padding: 7px 10px;
    }

    .copyright {
      font-size: 8px;
    }
  }


