 :root {
    --primary-color: #1B1B1B;
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family:'Montserrat', sans-serif;
    --secondary-title-color: #F65282;
}

body {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

header {
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero {
    padding: 160px 0;
    height: auto;
    text-align: center;
    margin: 0 auto;
}
.hero h2 {
    font-size: 24px;
    font-family: var(--main-font-family);
    font-weight: bold;
    text-transform: uppercase;
}

.hero h1 {
    font-family: var(--main-font-family);
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 0.1em;
}

.hero p {
    font-family: var(--main-font-family);
    font-size: 18px;
    font-weight:  normal;
    line-height: 30px;
}

.btn-branding {
    padding: 18px 30px;
    background: #FFFFFF;
    border-radius: 50px;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #272142;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 17px;
}

.btn-secondary {
  padding: 18px 30px;
  background: #FFFFFF;
  border-radius: 50px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #272142;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 17px;
  margin-top: 65px;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.about-section {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  font-family: var(--main-font-family);
}

.about-portrait {
  background-image: url(/img/portrait.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-title {
  text-transform: uppercase;
  color: var(--secondary-title-color);
  letter-spacing: 0.1em;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.about-section-content {
  margin: 51px 0px 92px 40px
}

.about-section-content h2 {
  font-size: 64px;
  line-height: 75px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about-section-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.about-section-links a {
  text-decoration: none;
  color: #FFFFFF;
}

@media (max-width: 900px) {
    .hero h1 {
      font-size: 44px;
      line-height: 2;
    }
  
    .hero h2 {
      font-size: 16px;
    }

    .hero p {
        font-size: 12px;
        line-height: 20px;
    }
    
    .hero {
      padding: 80px 20px;
      width: 100%;
      margin: 0px;
    }

    .container {
        margin-top: 50px;
        margin-bottom: 50px;
    }
  }

  @media (max-width: 576px) {
    .hero {
        padding: 40px 15px 50px 15px;
      }
  
    .hero h1 {
        font-size: 24px;
        margin:0;
      }
    
      .hero h2 {
        font-size: 12px;
        margin: 0;
      }
  
      .hero p {
          font-size: 10px;
          line-height: 15px;
      }

      .btn-branding {
        padding: 10px 20px;
        font-size: 10px;
      }

      .container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
  }

  @media (min-width: 1600px) {
    .btn-branding {
      padding: 28px 40px;
      font-size: 20px;
    }
  }


